<h1 style="margin-top: 20vh">Welcome, {{name}} - {{roles[userData.role-1]}}</h1>
<div class="homepage-hero">
  <ul>
    <ng-container *ngFor="let link of links">
      <a *ngIf="link.roles.includes(userData.role)" href="#" [routerLink]="[link.route]" class="button-pad">
        <li>
        <span class="domain-icon">
          <img src="../../assets/{{link.icon}}" alt="account-icon">
        </span>
          <span class="description">{{link.description}}</span>

        </li>
      </a>
    </ng-container>
    <p></p>
    <div>
      <button class="button" type="submit" (click)="logout();cancelUser(userData.email,userData.firstName,userData.lastName,userData.phoneNumber,userData.role)" id="button-signup">Cancel Account</button>
    </div>
  </ul>
</div>
