<div class="container">
  <div class="menu-window" style="width: 275px">
    <span class="domain-icon">
      <img src="../../assets/icon-warehouse.png" alt="account-icon">
    </span>
    <p class="domain-title">Create Delivery</p>
    <div class="filter-condition"></div>
    <div class="input-field">
      <label>Delivery ID</label>
      <input class="input" type="text" name="deliveryIdentifier" required [(ngModel)]="deliveryIdentifier">
    </div>
    <div class="input-field">
      <label>Day</label>
      <input class="input" type="number" name="day" required [(ngModel)]="day">
    </div>
    <div class="input-field">
      <label>Month</label>
      <input class="input" type="text" name="month" required [(ngModel)]="month">
    </div>
    <div class="input-field">
      <label>Year</label>
      <input class="input" type="number" name="number" required [(ngModel)]="year">
    </div>
    <div class="input-field">
      <label>Mass</label>
      <input class="input" type="number" name="postalCode" required [(ngModel)]="mass">
    </div>
    <div class="input-field">
      <label>Placing Time</label>
      <input class="input" type="number" name="placingTime" required [(ngModel)]="placingTime">
    </div>
    <div class="input-field">
      <label>Store ID</label>
      <input class="input" type="text" name="storeId" required [(ngModel)]="storeId">
    </div>
    <div class="input-field">
      <label>Withdrawal Time</label>
      <input class="input" type="number" name="withdrawalTime" required [(ngModel)]="withdrawalTime">
    </div>
    <div class="submit-delivery">
      <button class="button" type="submit" (click)="createValidDelivery()">Submit</button>
    </div>
  </div>


  <div class="menu-window">
    <h1>Delivery list</h1>
    <div class="input-field">
      <label>Order By:</label>

      <div>
        <button class="button" role="button" (click)="ofPipe()">Reverse chronological order</button>
      </div>
      <br>
      <div>
        <button class="button" role="button" (click)="onPipe()">Ascending Warehouse ID</button>
      </div>

    </div>
    <table id="tbody">
      <thead>
        <tr>
          <th style="border-radius: 5px 0 0 0"><input type="text" class="header-filter" placeholder="Delivery ID" [(ngModel)]="searchDeliveryIdentifier"></th>
          <th><input type="text" class="header-filter" placeholder="Day" [(ngModel)]="searchDay"></th>
          <th><input type="text" class="header-filter" placeholder="Month" [(ngModel)]="searchMonth"></th>
          <th><input type="text" class="header-filter" placeholder="Year" [(ngModel)]="searchYear"></th>
          <th><input type="text" class="header-filter" placeholder="Mass" [(ngModel)]="searchMass"></th>
          <th><input type="text" class="header-filter" placeholder="Placing Time" [(ngModel)]="searchPlacingTime"></th>
          <th><input type="text" class="header-filter" placeholder="Store ID" [(ngModel)]="searchStoreId"></th>
          <th><input type="text" class="header-filter" placeholder="Withdrawal Time" [(ngModel)]="searchWithdrawalTime">
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="pipe">
          <tr *ngFor="let delivery of deliveries | sortId:'storeId'">
          <tr
            *ngFor="let delivery of deliveries | filter:'delivery':{deliveryIdentifier: searchDeliveryIdentifier,day: searchDay,month: searchMonth,year: searchYear,mass: searchMass,placingTime: searchPlacingTime, storeId: searchStoreId, withdrawalTime: searchWithdrawalTime}">
            <td>{{delivery.deliveryIdentifier}}</td>
            <td>{{delivery.day}}</td>
            <td>{{delivery.month}}</td>
            <td>{{delivery.year}}</td>
            <td>{{delivery.mass}}</td>
            <td>{{delivery.placingTime}}</td>
            <td>{{delivery.storeId}}</td>
            <td>{{delivery.withdrawalTime}}</td>
          </tr>
        </ng-container>

        <ng-container *ngIf="!pipe">
          <tr *ngFor="let delivery of deliveries | orderBy:'day':'month':'year'">
          <tr
            *ngFor="let delivery of deliveries | filter:'delivery':{deliveryIdentifier: searchDeliveryIdentifier,day: searchDay,month: searchMonth,year: searchYear,mass: searchMass,placingTime: searchPlacingTime, storeId: searchStoreId, withdrawalTime: searchWithdrawalTime}">
            <td>{{delivery.deliveryIdentifier}}</td>
            <td>{{delivery.day}}</td>
            <td>{{delivery.month}}</td>
            <td>{{delivery.year}}</td>
            <td>{{delivery.mass}}</td>
            <td>{{delivery.placingTime}}</td>
            <td>{{delivery.storeId}}</td>
            <td>{{delivery.withdrawalTime}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="page-number-container">
      <button (click)="changePage(false)" class="button"><</button>
      <span>{{pageNumber}}</span>
      <button (click)="changePage(true)" class="button">></button>
    </div>
    <div class="list-size-container">
      <input class="input" type="number" [(ngModel)]="listSize">
    </div>
  </div>
</div>
