<div class="container">
  <div class="menu-window" style="width: 275px">
    <span class="domain-icon">
      <img src="../../assets/icon-truck.png" alt="account-icon">
    </span>
    <p class="domain-title">Create Truck</p>
    <div class="input-field" id="input-licensePlate">
      <label>License Plate</label>
      <input class="input" type="text" name="licensePlate" required [(ngModel)]="licensePlate">
    </div>
    <div class="input-field" id="input-autonomy">
      <label>Autonomy</label>
      <input class="input" type="number" name="autonomy" required [(ngModel)]="autonomy">
    </div>
    <div class="input-field" id="input-capacityCargo">
      <label>Capacity Cargo</label>
      <input class="input" type="number" name="capacityCargo" required [(ngModel)]="capacityCargo">
    </div>
    <div class="input-field" id="input-capacityTransportation">
      <label>Capacity Transportation</label>
      <input class="input" type="number" name="capacityTransportation" required [(ngModel)]="capacityTransportation">
    </div>
    <div class="input-field" id="input-battery">
      <label>Battery</label>
      <input class="input" type="number" name="battery" required [(ngModel)]="battery">
    </div>
    <div class="input-field" id="input-tare">
      <label>Tare</label>
      <input class="input" type="number" name="tare" required [(ngModel)]="tare">
    </div>


    <div>
      <button class="button" id="button-truck" type="submit" (click)="createValidTruck()">Submit</button>
    </div>
  </div>
  <div class="menu-window">
    <h1>Truck list</h1>
    <table id="tbody" >
      <thead>
      <tr>

        <th style="border-radius: 5px 0 0 0"><input type="text" class="header-filter" placeholder="Licence Plate" [(ngModel)]="searchLicensePlate"></th>
        <th><input type="text" class="header-filter" placeholder="Autonomy" [(ngModel)]="searchAutonomy"></th>
        <th><input type="text" class="header-filter" placeholder="Capacity Cargo" [(ngModel)]="searchCapacityCargo"></th>
        <th><input type="text" class="header-filter" placeholder="Capacity Transportation" [(ngModel)]="searchCapacityTransportation"></th>
        <th><input type="text" class="header-filter" placeholder="Battery" [(ngModel)]="searchBattery"></th>
        <th><input type="text" class="header-filter" placeholder="Tare" [(ngModel)]="searchTare"></th>
        <th><input type="text" class="header-filter" placeholder="Status" [(ngModel)]="searchStatus"></th>
        <th style="border-radius: 0 5px 0 0">Change Status</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let truck of trucks | filter:'truck':{licensePlate: searchLicensePlate,autonomy: searchAutonomy,capacityCargo: searchCapacityCargo,capacityTransportation: searchCapacityTransportation,battery: searchBattery,tare: searchTare }:listSize:pageNumber">
        <td>{{truck.licensePlate}}</td>
        <td>{{truck.autonomy}}</td>
        <td>{{truck.capacityCargo}}</td>
        <td>{{truck.capacityTransportation}}</td>
        <td>{{truck.battery}}</td>
        <td>{{truck.tare}}</td>
        <td>{{truck.status}}</td>
        <td>
          <button class="button" (click)="activateTruck(truck.licensePlate)">Activate/Deactivate</button>

        </td>
      </tr>
      </tbody>
    </table>
    <div class="page-number-container">
      <button (click)="changePage(false)" class="button"><</button>
      <span>{{pageNumber}}</span>
      <button (click)="changePage(true)" class="button">></button>
    </div>
    <div class="list-size-container">
      <input class="input" type="number" [(ngModel)]="listSize">
    </div>
  </div>
</div>
