<div class="container">
  <div class="menu-window" style="width: 275px">
    <span class="domain-icon">
        <img src="../../assets/icon-planning.png" alt="account-icon">
    </span>
    <p class="domain-title">Create Planning</p>
    <div class="input-field">
      <label for="licensePlate">License Plate</label>
      <input class="input" type="text" name="licensePlate" [(ngModel)]="licensePlate" id="licensePlate">
    </div>
    <div class="input-field">
      <label for="date">Date</label>
      <input class="input" type="date" name="date" [(ngModel)]="date" id="date">
    </div>
    <div class="input-field">
      <label for="heuristic">Heuristic</label>
      <select name="heuristic" [(ngModel)]="heuristic" id="heuristic">
        <option value="1">Distance</option>
        <option value="2">Weight</option>
        <option value="3">Distance and Weight</option>
        <option value="4">Genetic Algorithm</option>
      </select>
    </div>
    <div>
      <button class="button" type="submit" (click)="createPlanning()">Submit</button>
    </div>
  </div>
  <div class="menu-window">
    <h1>Planning list</h1>
    <div class="input-field">
      <label>Order By:</label>

      <div>
        <button class="button" role="button" (click)="ofPipe()" style="margin-bottom: 5px">Reverse chronological order
        </button>
      </div>
      <div>
        <button class="button" role="button" (click)="onPipe()" style="margin-bottom: 10px">Ascending License Plate
        </button>
      </div>

      <table id="list-table">
        <thead>
        <tr>
          <th style="border-radius: 5px 0 0 0"><input type="text" class="header-filter" placeholder="License Plate"
                                                      [(ngModel)]="searchLicensePlate"></th>
          <th><input type="text" class="header-filter" placeholder="Date" [(ngModel)]="searchDate"></th>

          <th>Delivery</th>

          <th style="border-radius: 0 5px 0 0">Warehouses</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="pipe">
          <tr *ngFor="let planning of plannings |  orderBy1:'licensePlate'">
          <tr
            *ngFor="let planning of plannings | filter:'planning':{licensePlate: searchLicensePlate,date: searchDate, delivery: searchDelivery, warehouse:searchWarehouse}:listSize:pageNumber">
            <td>{{planning.licensePlate}}</td>
            <td>{{planning.date}}</td>
            <td>{{planning.delivery}}</td>
            <td>{{planning.warehouse}}</td>
          </tr>

        </ng-container>

        <ng-container *ngIf="!pipe">
          <tr *ngFor="let planning of plannings | orderBy1:'date'">
          <tr
            *ngFor="let planning of plannings | filter:'planning':{licensePlate: searchLicensePlate,date: searchDate, delivery: searchDelivery, warehouse:searchWarehouse}:listSize:pageNumber">
            <td>{{planning.licensePlate}}</td>
            <td>{{planning.date}}</td>
            <td>{{planning.delivery}}</td>
            <td>{{planning.warehouse}}</td>
          </tr>

        </ng-container>
      </table>
      <div class="page-number-container">
        <button (click)="changePage(false)" class="button"><</button>
        <span>{{pageNumber}}</span>
        <button (click)="changePage(true)" class="button">></button>
      </div>
      <div class="list-size-container">
        <input class="input" type="number" [(ngModel)]="listSize">
      </div>
    </div>
  </div>
</div>
