<div class="container-full">
  <div class="menu-window" style="width: 250px">
    <span class="domain-icon">
        <img src="../../assets/icon-account.png" alt="account-icon">
    </span>
    <p class="domain-title">Sign In</p>
    <div class="input-field" id="input-email">
      <input class="input" type="text" placeholder="Email" [(ngModel)]="email">
    </div>
    <div class="input-field" id="input-password">
      <input class="input" type="password" placeholder="Password" [(ngModel)]="password">
    </div>
    <div style="margin-bottom: 40px">
      <button class="button" type="submit" (click)="login(email, password)" id="button-login">Login</button>
    </div>
    <div>
      <button class="button" type="submit" [routerLink]="['/signup']" id="button-signup">Sign Up</button>
    </div>
    <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>
  </div>
</div>
