<div class="container">
  <div class="menu-window" style="width: 275px">
    <span class="domain-icon">
        <img src="../../assets/icon-route.png" alt="account-icon">
    </span>
    <p class="domain-title">Create Route</p>
    <div class="input-field" id="input-routeId">
      <label for="routeId">Route ID</label>
      <input class="input" type="text" name="routeId" [(ngModel)]="routeId" id="routeId">
    </div>
    <div class="input-field" id="input-routeOrigin">
      <label for="origin">Origin</label>
      <input class="input" type="text" name="origin" [(ngModel)]="origin" id="origin">
    </div>
    <div class="input-field" id="input-routeDestination">
      <label for="destination">Destination</label>
      <input class="input" type="text" name="destination" [(ngModel)]="destination" id="destination">
    </div>
    <div class="input-field" id="input-routeDistance">
      <label for="distance">Distance</label>
      <input class="input" type="number" name="distance" [(ngModel)]="distance" id="distance">
    </div>
    <div class="input-field" id="input-routeTimeDistance">
      <label for="timeDistance">Time Distance</label>
      <input class="input" type="number" name="timeDistance" [(ngModel)]="timeDistance" id="timeDistance">
    </div>
    <div class="input-field" id="input-routeEnergySpent">
      <label for="energySpent">Energy Spent</label>
      <input class="input" type="number" name="energySpent" [(ngModel)]="energySpent" id="energySpent">
    </div>
    <div class="input-field" id="input-routeExtraBatteryTime">
      <label for="extraBatteryTime">Extra Battery Time</label>
      <input class="input" type="number" name="extraBatteryTime" [(ngModel)]="extraBatteryTime" id="extraBatteryTime">
    </div>
    <div>
      <button class="button" id="button-route" type="submit" (click)="createRoute()">Submit</button>
    </div>
  </div>
  <div class="menu-window">
    <h1>Route list</h1>
    <table id="list-table">
      <thead>
        <tr>
          <th style="border-radius: 5px 0 0 0"><input type="text" class="header-filter" placeholder="ID" [(ngModel)]="searchRouteId"></th>
          <th><input type="text" class="header-filter" placeholder="Origin" [(ngModel)]="searchOrigin"></th>
          <th><input type="text" class="header-filter" placeholder="Destination" [(ngModel)]="searchDestination"></th>
          <th><input type="text" class="header-filter" placeholder="Distance" [(ngModel)]="searchDistance"></th>
          <th><input type="text" class="header-filter" placeholder="Time Distance" [(ngModel)]="searchTimeDistance"></th>
          <th><input type="text" class="header-filter" placeholder="Energy Spent" [(ngModel)]="searchEnergySpent"></th>
          <th style="border-radius: 0 5px 0 0"><input type="text" class="header-filter" placeholder="Extra Battery" [(ngModel)]="searchExtraBatteryTime"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of routes | filter:'route':{routeId: searchRouteId,origin: searchOrigin,destination: searchDestination,distance: searchDistance,timeDistance: searchTimeDistance,energySpent: searchEnergySpent, extraBatteryTime: searchExtraBatteryTime}:listSize:pageNumber">
          <td>{{route.routeId}}</td>
          <td>{{route.origin}}</td>
          <td>{{route.destination}}</td>
          <td>{{route.distance}}</td>
          <td>{{route.timeDistance}}</td>
          <td>{{route.energySpent}}</td>
          <td>{{route.extraBatteryTime}}</td>
        </tr>
      </tbody>
    </table>
    <div class="page-number-container">
      <button (click)="changePage(false)" class="button"><</button>
      <span>{{pageNumber}}</span>
      <button (click)="changePage(true)" class="button">></button>
    </div>
    <div class="list-size-container">
      <input class="input" type="number" [(ngModel)]="listSize">
    </div>
  </div>
</div>
